/PL3.1/target/
.idea/*
*.iml
.vscode/*

/PL3/build/
/PL3/nbproject/private/
\.DS_Store

PL3/\.idea/libraries/postgresql_42_2_5_jre6\.xml

PL3/\.idea/misc\.xml

PL3/\.idea/modules\.xml

PL3/\.idea/uiDesigner\.xml

PL3/\.idea/vcs\.xml

PL3/\.idea/workspace\.xml

PL3/\.vscode/launch\.json

PL3/nbproject/build-impl\.xml

PL3/nbproject/genfiles\.properties

PL3/nbproject/project\.properties

PL3/nbproject/project\.xml

PL3/out/production/PL3/com/asdv/pl3/BBDDConnection\.class

PL3/out/production/PL3/com/asdv/pl3/PL3\.class

PL3/out/production/PL3/META-INF/PL3\.kotlin_module

PL3/build\.xml

PL3/manifest\.mf
